flows (1).json
[{"id":"c13cc38.ad4e24","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"18574a9f.afe5c5","type":"ui_form","z":"c13cc38.ad4e24","name":"","label":"","group":"e3793bc6.ce3788","order":4,"width":0,"height":0,"options":[{"label":"enter input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":190,"y":240,"wires":[["90480a9e.563d18"]]},{"id":"90480a9e.563d18","type":"function","z":"c13cc38.ad4e24","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[["e200dc9c.3f8a","633acd61.d2fd24"]]},{"id":"3c584576.2190fa","type":"function","z":"c13cc38.ad4e24","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":200,"wires":[["666e6a6a.856c94"]]},{"id":"e200dc9c.3f8a","type":"watson-conversation-v1","z":"c13cc38.ad4e24","name":"","workspaceid":"1a89d77d-4d96-4288-8b73-ea45c0c8ccbb","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/01dccfb5-6917-4f95-b747-5d51d5de6f37","timeout":"","optout-learning":false,"x":540,"y":60,"wires":[["31a163e0.c188dc","3c584576.2190fa"]]},{"id":"31a163e0.c188dc","type":"debug","z":"c13cc38.ad4e24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":100,"wires":[]},{"id":"633acd61.d2fd24","type":"ui_text","z":"c13cc38.ad4e24","group":"e3793bc6.ce3788","order":5,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-left","x":290,"y":340,"wires":[]},{"id":"666e6a6a.856c94","type":"ui_text","z":"c13cc38.ad4e24","group":"e3793bc6.ce3788","order":6,"width":0,"height":0,"name":"","label":"bot","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":300,"wires":[]},{"id":"e3793bc6.ce3788","type":"ui_group","z":"","name":"CHATBOT","tab":"54bea450.8e3a1c","order":1,"disp":true,"width":7,"collapse":false},{"id":"54bea450.8e3a1c","type":"ui_tab","z":"","name":"TAGNAME","icon":"dashboard","disabled":false,"hidden":false}]