flows (4).json
[{"id":"7eba1d59.458904","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"466eaf9c.55637","type":"http in","z":"7eba1d59.458904","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["ee70deaf.a7e1b"]]},{"id":"d558cb25.425218","type":"http response","z":"7eba1d59.458904","name":"","statusCode":"","headers":{},"x":580,"y":120,"wires":[]},{"id":"ee70deaf.a7e1b","type":"template","z":"7eba1d59.458904","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<head>\n<meta charset=\"utf-8\">\n<meta name=\"viewpoint\" content=\"width=device-width, initial-scale=1\">\n<title>chatbot</title>\n<script>\n    window.watsonAssistantChatOptions = {\n        integrationID: \"0bc18ad9-6ea1-40fc-a15b-fd59fa83f8cd\", // The ID of this integration.\n        region: \"eu-gb\", // The region your integration is hosted in.\n        serviceInstanceID: \"01dccfb5-6917-4f95-b747-5d51d5de6f37\", // The ID of your service instance.\n        onLoad: function(instance) { instance.render(); }\n      };\n    setTimeout(function(){\n      const t=document.createElement('script');\n      t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js\";\n      document.head.appendChild(t);\n    });\n  </script>\n    </head>\n    <body>\n        <h1><b>shop bot</b></h1>\n        <h4>chatbot to shop for essentials during covid19</h4>\n        <p>Today, because of social distancing and other issues it can be risky for some people to shop for essential items in person. This project helps with this issue by giving people an online option to shop for essentials. With the help of Watson assistant, a chatbot is built. This chat should have the following capabilities:\n            Give the list of items in the Store\n            Should show the  prices of vegetables\n            Display if there are any offers or discounts\n            The bot should be able to take details like name, contact number, address, and the items to place the order.</p>\n        <br><br>\n        <img src =\"https://i.pinimg.com/736x/a4/c2/37/a4c23778bf87e717806b09ffc568859c.jpg\" height=500 width=1200>\n\n    </body>\n    \n</html>","output":"str","x":340,"y":140,"wires":[["d558cb25.425218"]]}]